<div class="navbar navbar-expand-sm bg-transparent navbar-lewagon ms-5 me-5">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "galaxy-removebg-preview.png", class: "logo-size" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <div class="d-flex text-deco:hover p-4">
            <%= link_to new_planet_offer_path do %>
            <i class="fa-solid fa-globe position-relative text-deco color-icon-add pt-2 fs-3"></i>
            <% end %>
          </div>
          <div class="text-deco :hover p-4">
            <%= link_to destroy_user_session_path, class:"text-deco", data: {turbo_method: :delete} do %>
            <p class="text-light fs-3">L<i class="fa-solid fa-earth-europe fs-4"></i>g out</p>
            <% end %>
          </div>
          <li class="nav-item p-3">
          <%= link_to pages_profile_path do %>
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar"%>
            <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
           <% end %>
          </li>
          <% end %>
        <% else %>
          <div class="text-deco :hover p-4">
            <%= link_to new_user_session_path, class:"text-deco" do %>
            <p class="text-light fs-3">L<i class="fa-solid fa-earth-europe fs-4"></i>g in</p>
            <% end %>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
