<div class="navbar navbar-expand-sm bg-transparent navbar-lewagon ms-5 me-5">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "galaxy-removebg-preview.png", class: "logo-size" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item d-flex">
            <%= link_to "L", destroy_user_session_path, class: "dropdown-item nav-link text-light p-0 fs-4", data: {turbo_method: :delete} %>
            <i class="fa-solid fa-earth-europe text-light d-flex align-items-center fs-4"></i>
            <%= link_to "g out", destroy_user_session_path, class: "dropdown-item nav-link text-light p-0 me-4 fs-4", data: {turbo_method: :delete} %>
          </li>
          <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
           <% end %>
          </li>
        <% else %>
          <li class="nav-item d-flex">
            <%= link_to "L", new_user_session_path, class: "nav-link text-light p-0 fs-4" %>
            <i class="fa-solid fa-earth-europe text-light d-flex align-items-center fs-4"></i>
            <%= link_to "g in", new_user_session_path, class: "nav-link text-light p-0 fs-4" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
