<div class="container">
  <div class="row justify-content-evenly ms-5 me-5">
    <h1>Hello from the cosmos!</h1>
    <h2>We've listed all of your planet below:</h2>
    <% @planetoffers.each do |planetoffer| %>
      <div class="col-3 mb-4">
        <div class="card card-radius-bg-bs h-100" style="width: 16rem;">
            <% if planetoffer.photo.attached? %>
            <%= cl_image_tag planetoffer.photo.key, height: 200, width: 200, crop: :fill, class: "margin-center" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title text-center font-weight-bold"><%= link_to planetoffer.name, planet_offer_path(planetoffer), class: "text-deco"%></h5>
              <p class="card-text text-light text-center">Gravité : <%= planetoffer.gravite %> m/s²</p>
              <p class="card-text text-light text-center">Superficie : <%= planetoffer.superficie %> M km²</p>
              <p class="card-text text-light text-center">Rayon : <%= planetoffer.rayon %> km</p>
              <p class="card-text text-light text-center">Localisation : <%= planetoffer.location %></p>
              <p class="card-text text-light text-center">Prix : <%= planetoffer.price %> M €</p>
              <div class="text-center">
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
   <div class="row justify-content-evenly ms-5 me-5">
    <h2>We've listed all of your bookings below:</h2>
    <% @reservations.each do |reservation| %>
      <div class="col-3 mb-4">
        <div class="card card-radius-bg-bs h-100" style="width: 16rem;">
          <div class="card-body">
            <p class="card-text text-light text-center">Destination : <%= reservation.planet_offer.name %></p>
            <p class="card-text text-light text-center">Day of arrival : <%= reservation.start_date %> </p>
            <p class="card-text text-light text-center">Day of check-out : <%= reservation.end_date %> </p>
            <p class="card-text text-light text-center"><%= (reservation.end_date - reservation.start_date).to_i %></p>
            <p class="card-text text-light text-center">Number of voyagers : <%= reservation.voyagers %> </p>
            <div class="text-center">
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
