<h2><%= @reservation.validated %></h2>
<p><%= @reservation.start_date %></p>
<p><%= @reservation.end_date %></p>
<p><%= @reservation.user.first_name %></p>
<p><%= @reservation.planet_offer.name %></p>

<%= link_to "Delete",
  planet_offer_reservation_path(@reservation),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
