<div class="container">
  <div class="text-light">
    <%= simple_form_for(@planetoffer) do |f| %>
      <%= f.input :name %>
      <%= f.input :location %>
      <%= f.input :superficie %>
      <%= f.input :gravite %>
      <%= f.input :rayon %>
      <%= f.input :price %>
      <%= f.input :title %>
      <%= f.input :photo, as: :file %>
      <%= f.submit %>

    <% end %>
  </div>
</div>
