<h2><%= @planetoffer.name %></h2>
<p><%= @planetoffer.description %></p>
<p><%= @planetoffer.price %></p>
<p><%= @planetoffer.title %></p>
<p><%= @planetoffer.location %></p>
<p><%= @planetoffer.planet_picture %></p>
